@charset "utf-8";
.navigation {
	background: #455EBD;
}
.collapse.navbar-collapse ul li a {
	color: #000000;
}
.checked {
  color: orange;
}









































































































